* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: sans-serif;
    max-width: 100%;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
    
}

#page-container {
    position: relative;
    height: 130%;
    background: linear-gradient(45deg, rgba(24, 12, 121, 0.14), rgba(200, 76, 255, 0.12));
    background-size: cover;
    background-position: center;
}

main {
    margin: auto;
    padding-bottom: 80px;
    
}

header {
    background-color: #fcf8fd;
    border-bottom: 1px solid #dac7e2;
    padding-top: 15px;
}

#logo-image {
    width: 600px;
    display: block;
    margin: auto;
}

#navbar li {
    list-style: none;
    display: inline;
    padding-bottom: 30px;
    padding-top: 25px;
}

#navbar ul {
    display: flex;
    justify-content: center;
}

#navbar {
    display: block;
    margin: auto;
    width: 100%;

}

#navbar a {
    text-decoration: none;
    font-family: sans-serif;
    color: #594772;
    padding: 15px;
    border: 1px solid #dac7e2;
    border-radius: 5px;
    background-color: #dac7e2;
    margin: 10px;
    font-size: 30px;
}

#navbar a:hover {
    color: #f05484;
    transition-duration: 0.2s;
    background-color: #e8d1ef;
}

#navbar a:active {
    color: #2d0e58;
}

#image-grid {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fcf8fd;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}


footer {
    width: 100%;
    max-width: 100%;
    bottom: 0;
    background-color: #685780;
    position: absolute;
    height: 80px;
    font-size: 30px;
}

#footer-div {
    display: block;
    width: 80%;
    color: white;
    margin: auto;
}

footer p {
    padding: 10px;
    text-align: center;
}

#footer-nav {
    display: none;
}

/*--------- MODAL ---------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fcf8fd;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    display: block;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*--------- MODAL END ---------*/

.thumbnail {
    width: 46%;
    height: auto;
    padding: 5px;
}

.image {
    max-width: 80vw;
    max-height: 80vh;
    display: block;
    margin: auto;
    padding: 10px;
}

.full-size-btn {
    margin: auto;
    display: block;
    width: 130px;
    height: 35px;
    background-color: #714b8d;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.full-size-btn:hover {
    background-color: #f05484;
    transition-duration: 0.2s;
}

.text-container p {
    padding: 20px 40px 20px 40px;
    color: #58565a;
    font-size: 36px;
}

.text-container a {
    text-decoration: none;
    font-weight: 600;
}

.text-container a:hover {
    text-decoration: none;
    font-weight: 600;
    color: #f05484;
    transition-duration: 0.2s;
}

.fab {
    font-size: 100px;
    color: #685780;
    padding: 10px;
}

#social-icons {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.fab:hover {
    text-decoration: none;
    color: #f05484;
    transition-duration: 0.2s;
}

/*--------- MEDIA QUERIES BELOW ---------*/

@media only screen and (min-width: 768px) {
    .thumbnail {
        width: 46%;
    }
    
}

@media only screen and (min-width: 992px) {
    .thumbnail {
        width: 47%;
    }
    
    #logo-image {
    width: 400px;
    }
    
    #navbar li {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    
    main {
        padding-bottom: 50px;
    }
    
    footer {
        height: 50px;
        font-size: 18px;
    }
    
    #navbar a {
        text-decoration: none;
        font-family: sans-serif;
        color: #594772;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: transparent;
        margin: 5px;
        font-size: 18px;
}
    #navbar a:hover {
        color: #f05484;
        transition-duration: 0.2s;
        background-color: transparent;
}
    
    .text-container p {
        padding: 20px 40px 20px 40px;
        color: #58565a;
        font-size: 16px;
    }

    .text-container a {
        text-decoration: none;
        font-weight: 600;
    }

    .fab {
        font-size: 60px;
        color: #685780;
        padding: 10px;
    }

    #social-icons {
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 1200px) {
    .thumbnail {
        width: 31.5%;
    }
    
    #logo-image {
    width: 400px;
    }
    
    main {
        padding-bottom: 50px;
    }
    
    footer {
        height: 50px;
        font-size: 18px;
    }
    
    #navbar li {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    
    #navbar a {
    text-decoration: none;
    font-family: sans-serif;
    color: #594772;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    margin: 5px;
    font-size: 16px;
}
    #navbar a:hover {
    color: #f05484;
    transition-duration: 0.2s;
    background-color: transparent;
}
    
    #image-grid {
        width: 70%;
    }
    
    .text-container p {
    padding: 20px 40px 20px 40px;
    color: #58565a;
    font-size: 16px;
}

    .text-container a {
    text-decoration: none;
    font-weight: 600;
    }

    .fab {
    font-size: 60px;
    color: #685780;
    padding: 10px;
}

    #social-icons {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    }
}

@media only screen and (min-width: 1600px) {
    .thumbnail {
        width: 23.5%;
    }
    
    #logo-image {
    width: 400px;
    }
    
    main {
        padding-bottom: 50px;
    }
    
    footer {
        height: 50px;
        font-size: 18px;
    }
    
    #navbar li {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    
    #navbar a {
    text-decoration: none;
    font-family: sans-serif;
    color: #594772;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    margin: 5px;
    font-size: 16px;
    }
    #navbar a:hover {
    color: #f05484;
    transition-duration: 0.2s;
    background-color: transparent;
    }
    
    #image-grid {
        width: 60%;
    }
    
    
    .text-container p {
        padding: 20px 40px 20px 40px;
        color: #58565a;
        font-size: 16px;
    }

    .text-container a {
    text-decoration: none;
    font-weight: 600;
    }

    .fab {
    font-size: 60px;
    color: #685780;
    padding: 10px;
    }

    #social-icons {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    }

}